<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.book.library.LibraryMapper">
    <insert id="bookSave">
        INSERT INTO library
        SET member_id = #{memberId}
        ,book_id = #{bookId}
        ,title = #{title}
        ,authors =#{authors}
        ,publisher = #{publisher}
        ,published_date = #{publishedDate}
        ,thumbnail = #{thumbnail}
        ,summary = #{summary}
        ,total_page = #{totalPage}
    </insert>

    <update id="bookUpdate">
        UPDATE library
        SET read_page = #{readPage}
        ,status = #{status}
        WHERE library_id = #{libraryId}
    </update>

    <update id="lastBookUpdate">
        UPDATE library
        SET updated_at = NOW()
        WHERE library_id = #{libraryId}
    </update>


    <update id="bookStatus">
        update library
        SET status = #{status}
            ,read_page = total_page
        WHERE library_id = #{libraryId}
    </update>

    <select id="myBookList">
        SELECT library_id, book_id, title, thumbnail, status
        FROM library
        WHERE member_id = #{memberId}
        ORDER BY library_id DESC , status
<!--        <if  test="keyword != null and keyword != ''">-->
<!--            ,status = #{keyword}-->
<!--        </if>-->
    </select>

    <select id="myBookListType">
        SELECT library_id, book_id, title, thumbnail, status
        FROM library
        WHERE member_id = #{memberId}
              AND status = #{status}

    </select>

    <select id ="myBookItem">
        SELECT library_id, book_id, title,authors,publisher
                ,published_date,thumbnail,summary
                ,total_page, read_page,status
        FROM library
        WHERE library_id = #{libraryId}
    </select>

    <select id="lastReadBook">
        SELECT library_id, title, thumbnail
        FROM library
        WHERE member_id = #{memberId}
        ORDER BY updated_at DESC
        LIMIT 1
    </select>

    <select id="monthFinishBook">
        SELECT library_id, title, thumbnail
        FROM library
        WHERE member_id = #{memberId}
              AND status = 'finish'
              AND updated_at >= #{start} AND updated_at &lt; #{end}
    </select>


    <delete id="deleteBook">
        DELETE FROM library
        WHERE library_id = #{libraryId} AND member_id =#{memberId}
    </delete>



</mapper>